.radio {
    margin-right: 10px;
}    

.radio::before {
}


.radio:checked::before {
}

.label {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
