.App {
    --header_height: 60px;
}

.hw {
margin-left: 50px;
margin-right: 50px;
}

.hwTitle {
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px solid rgb(177, 177, 177);
    border-top: 1px solid rgb(177, 177, 177);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 50px;
}