.friendMessage {
    display: flex;
    align-items: end;
    justify-content: left;
    margin-bottom: 25px;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.friendText {
    background-color: #e7e7e7;
    border-radius: 8px;
    max-width: 500px;
    width: auto;
}

.friendText:after {
    
}

.friendName {
    font-size: 25px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
}

.friendMessageText {
    font-size: 16px;
    padding: 2px 15px 5px 15px;
}

.friendTime {

}
