.button {
    padding: 2px 20px;
    border-radius: 2px;
    font-size: 16px;
}

.disabled {
    background-color: rgb(0, 110, 255);
    color: white;
}

.secondary {
    border: 1px solid rgb(0, 110, 255);
    background-color: white;
    color: rgb(0, 110, 255);
}

.default {
    border: none;
    color: white;
    background-color: rgb(0, 110, 255);
}

.red {
    color: white;
    background-color: rgb(201, 0, 0);
    border: none;
}

.default:hover {
    background-color: rgb(0, 150, 255);
}

.red:hover {
    background-color: rgb(255, 0, 55);
}

.secondary:hover {
 background-color: rgb(220, 235, 255);
}


.default:active {
    background-color: rgb(0, 84, 194);
}

.secondary:active {
 background-color: rgb(163, 203, 255);
}

.red:active {
    background-color: rgb(165, 0, 0);
}

.button:disabled {
    background-color: rgb(0, 110, 255);
    color: white;
    opacity: 0.5;
}
