.container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 15px 0;

}

.number {
    margin: 0 20px;
    font-size: 1.2em;
    font-weight: bold;
}
